*.a
*.la
*.lai
*.lo
*.o
*.lo
*~
*.pyc
*.exe
*.so
*.dylib

__pycache__/

bin/freefall
TAGS
DEPEND
DEPEND.bak
out.compile
out.make.DEPEND
svn_version.def
temp.show-*
Make.config.machine
Make.config.override
*.mod
CMakeUserPresets.json

src/clib/autogen
src/clib/libgrackle.so
src/example/cxx_example
src/example/cxx_table_example
src/example/c_example
src/example/c_table_example
src/example/c_example_nostruct
src/example/c_table_example_nostruct
src/example/fortran_example
src/example/fortran_table_example
src/example/GRACKLE_INFO
src/example/Table__OMP_Performance
src/example/flake8.out
src/example/*.png
src/python/build/*
src/python/*.png
# these images will be written to whatever directory you run the tests from
cooling.png
fractions.png
src/python/flake8.out
src/python/.cache/*
src/python/pygrackle.egg-info/*
src/python/pygrackle/*.c
src/python/tests/test_answers

# build-directories for documentation
doc/build
# the following is created if you follow commands in .circleci/config.yml
doc/source/_build/*

# Used by lots of tools (e.g. pyenv, uv)
.python-version

# UV
# People can put custom config options in here (any options we want to distribute
# will go into pyproject.toml
uv.toml
#   This is commonly ignored for libraries.
uv.lock

# IDE stuff
.idea/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# Ruff stuff:
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints

# from MacOS
.DS_Store
