version: 2.1

commands:
  set-env:
    description: "Set environment variables."
    steps:
      - run:
          name: "Set environment variables."
          command: |
            echo "backend : Agg" > $HOME/matplotlibrc
            echo 'export LD_LIBRARY_PATH=$HOME/local/lib:$LD_LIBRARY_PATH' >> $BASH_ENV
            echo 'export YT_DATA_DIR=$HOME/yt_test' >> $BASH_ENV
            echo 'export MATPLOTLIBRC=$HOME' >> $BASH_ENV
            # get tags from the main and PR repository (for the current gold standard)
            git fetch --tags https://github.com/grackle-project/grackle
            if [ -n "$CIRCLE_PR_REPONAME" ]; then
              git fetch --tags https://github.com/$CIRCLE_PR_USERNAME/$CIRCLE_PR_REPONAME
            fi

  install-cmake-dependencies:
    description: "Install minimal dependencies needed for a CMake build"
    steps:
      - run:
          name: "Install minimal dependencies needed for a CMake build"
          command: |
            git submodule update --init --remote
            sudo apt update
            sudo apt install -y libhdf5-serial-dev gfortran ninja-build cmake

  install-dependencies:
    description: "Install dependencies."
    steps:
      - install-cmake-dependencies
      - run:
          name: "Install all other dependencies."
          command: |
            source $BASH_ENV
            # libtool-bin is a requirement of the classic build-system
            # castxml is a requirement of the gracklepy test-suite
            sudo apt install -y libtool-bin castxml
            python3 -m venv $HOME/venv
            source $HOME/venv/bin/activate
            pip install --upgrade pip
            pip install --group test


  install-grackle:
    description: "Install the core Grackle Library & Pygrackle."
    parameters:
      omp:
        type: enum
        default: 'false'
        enum: ['true', 'false']
      classic_build:
        type: enum
        default: 'true'
        enum: ['true', 'false']
      tag:
        type: string
        default: $CIRCLE_BRANCH
    steps:
      - run:
          name: "Install grackle (classic_build: << parameters.classic_build >>, omp: << parameters.omp >>, tag: << parameters.tag >> )"
          command: |
            source $HOME/venv/bin/activate
            git checkout << parameters.tag >>

            # First, try resetting things to a pristine condition (in the event
            # that grackle was previously built
            # -> this is important if we want to perform a cmake build after
            #    a traditional build
            rm -rf $HOME/local # installation location
            ./configure # this is needed so we can call `make clean` (in the
                        # event that we haven't called ./configure since the
                        # last time we tried to do this sort of cleanup)
            cd src/clib
            make clean
            cd -
            # remove the files produced by ./configure
            rm -f src/clib/Make.config.override src/clib/Make.config.machine src/clib/DEPEND
            # remove the files produced in a cmake-build
            rm -rf build


            # Next, we actually perform the installation
            if [ '<< parameters.classic_build >>' == 'true' ]; then
              mkdir -p $HOME/local # installation location
              ./configure
              cd src/clib
              make clean
              make machine-linux-gnu
              if [ '<< parameters.omp >>' == 'true' ]; then
                make omp-on
              fi
              make
              make install
              cd ../../ # go back to the root level

              PYGRACKLE_LEGACY_LINK=classic pip install -v -e .
            else # this branch builds grackle with cmake

              cmake -DGRACKLE_USE_DOUBLE=ON                   \
                    -DBUILD_SHARED_LIBS=ON                    \
                    -DGRACKLE_USE_OPENMP=<< parameters.omp >> \
                    -DCMAKE_INSTALL_PREFIX=$HOME/local        \
                    -Bbuild
              cmake --build build
              
              Grackle_DIR=${PWD}/build pip install -v -e .
            fi

  install-standalone-gracklepy:
    description: "Install gracklepy without explicitly building the grackle library."
    parameters:
      tag:
        type: string
        default: $CIRCLE_BRANCH
    steps:
      - run:
          name: "Install gracklepy."
          command: |
            source $HOME/venv/bin/activate
            git checkout << parameters.tag >>
            pip install -e .

  install-docs-dependencies:
    description: "Install dependencies for docs build."
    steps:
      - run:
          name: "Install dependencies for docs build."
          command: |
            sudo apt install -y doxygen
            python3 -m venv $HOME/venv
            source $HOME/venv/bin/activate
            pip install --upgrade pip
            pip install --group docs

  download-test-data:
    description: "Download test data."
    steps:
      - run:
          name: "Download test data."
          command: |
            source $BASH_ENV  # sets up YT_DATA_DIR, env variable
            ./scripts/ci/fetch_test_data.py

  run-gracklepy-tests:
    description: "Run the pytest test-suite. This suite includes a mix of general tests and gracklepy-specific tests."
    parameters:
      omp:
        type: enum
        default: 'false'
        enum: ['true', 'false']
      build_kind:
        type: enum
        default: 'classic'
        enum: ['classic', 'cmake', 'standalone-gracklepy']
      generate:
        type: enum
        default: 'true'
        enum: ['true', 'false']
      overwrite:
        type: enum
        default: 'true'
        enum: ['true', 'false']
    steps:
      - run:
          name: "Run the pytest test-suite (build_kind: << parameters.build_kind >>, omp: << parameters.omp >>, generate: << parameters.generate >>)."
          command: |
            source $BASH_ENV
            source $HOME/venv/bin/activate

            # actually execute the tests
            if [[ '<< parameters.build_kind >>' == 'classic' &&
                  '<< parameters.omp >>' == 'true' ]]; then
              echo "ERROR: gracklepy tests can't be run in this configuration"
              exit 1

            else
              # NOTE: these tests should run if using OpenMP without the
              #       classic build-system

              ANSWER_DIR=./my-test_answers
              if [ '<< parameters.generate >>' == 'true' ]; then
                if [[ '<< parameters.overwrite >>' == 'true' || ! -d ${ANSWER_DIR} ]]; then
                  py.test --answer-dir=${ANSWER_DIR} --answer-store
                else
                  echo "Answers already exist; skipping."
                fi
              else
                # we pass -vv, so that each test gets its own line of output
                # (this can be helpful if we encounter a segfault)
                py.test -vv --answer-dir=${ANSWER_DIR}
              fi
            fi

  store-gracklepy-suite-gold-standard-answers:
    description: "Store the gracklepy test answers"
    parameters:
      gold-standard-tag:
        description: "The gold-standard to use for generating the answers"
        type: string
        default: "gold-standard-nccv7"
      cache-tag:
        description: "A unique tag to append to the cache name"
        type: string
        default: "1"
    steps:
      - run:
          name: "Build Pygrackle from Gold-Standard Commit (<< parameters.gold-standard-tag >>)"
          command: |
            source $HOME/venv/bin/activate
            pip uninstall --yes gracklepy # it's ok if gracklepy wasn't installed yet
            git checkout << parameters.gold-standard-tag >>
            pip install -e .
            rm -rf ./my-test_answers # in case answers have already been generated
      - restore_cache:
          name: "Restore gold standard answers from cache."
          key: << parameters.gold-standard-tag >>-cache<< parameters.cache-tag >>
      - run-gracklepy-tests:
          omp: 'false'
          build_kind: 'standalone-gracklepy'
          generate: 'true'
          overwrite: 'false'
      - save_cache:
          name: "Save gold standard answers to cache."
          key: << parameters.gold-standard-tag >>-cache<< parameters.cache-tag >>
          paths:
            - ./my-test_answers
      - run:
          command: |
            source $HOME/venv/bin/activate
            pip uninstall --yes gracklepy


  build-docs:
    description: "Test the docs build."
    steps:
      - run:
          name: "Test the docs build."
          command: |
            source $HOME/venv/bin/activate
            cd doc/source
            python -m sphinx -M html "." "_build" -W
      # if we start using the breathe extension for sphinx, we'll probably
      # start building the doxygen documentation alongside the sphinx docs &
      # we won't try need an explicit test
      - run:
          name: "Trigger a doxygen-build of internal C++ code"
          command: cd doc/doxygen && doxygen Doxyfile


executors:
  python:
    parameters:
      tag:
        type: string
        default: latest
      resource_class:
        type: string
        default: small
    docker:
      - image: cimg/python:<< parameters.tag >>
    resource_class: << parameters.resource_class >>

jobs:
  test-suite:
    parameters:
      tag:
        type: string
        default: latest
    executor:
      name: python
      tag: << parameters.tag >>
      resource_class: small  # <- 1 core

    working_directory: ~/grackle

    steps:
      - checkout
      - set-env
      - install-dependencies
      - download-test-data
      - store-gracklepy-suite-gold-standard-answers

      - run:
          name: "Build Standalone Pygrackle from the commit that triggered CI."
          command: |
            source $HOME/venv/bin/activate
            git checkout $CIRCLE_BRANCH
            pip install -e .
      - run-gracklepy-tests:
          omp: 'false'
          build_kind: 'standalone-gracklepy'
          generate: 'false'

      # run gracklepy-test (without answer-tests) on latest commit (CMake-build)
      - install-grackle:
          omp: 'false'
          classic_build: 'false'
          tag: $CIRCLE_BRANCH
      - run:
          name: "gracklepy-tests (no answer-tests) on latest commit (corelib manually built with CMake)"
          command: source $BASH_ENV && source $HOME/venv/bin/activate && py.test

      # run full gracklepy test-suite on latest commit (classic-build)
      - install-grackle:
          omp: 'false'
          classic_build: 'true'
          tag: $CIRCLE_BRANCH
      - run:
          name: "gracklepy-tests (no answer-tests) on latest commit (corelib manually created with classic-build)"
          command: source $BASH_ENV && source $HOME/venv/bin/activate && py.test

  corelib-tests:
    executor:
      name: python
      tag: 3.7.17  # we are explicitly using an older python version here, to
                   # make sure that any python scripts used in compiling the
                   # core-library maintain backwards compatability
      resource_class: medium  # <- 2 cores

    working_directory: ~/grackle

    steps:
      - checkout
      - install-cmake-dependencies
      - run:
          name: "update CMake to newer version"
          command: |
            sudo apt remove cmake -y
            sudo apt install python3-pip
            # this is a hack to install a newer version of CMake (through PyPI)
            pip3 install cmake

      - run:
          name: "Build libgrackle and all of the core library's tests"
          command: |
            cmake --preset ci-linux
            cmake --build build_ci-linux
      - run:
          name: "Run the suite of tests that operate directly on the core-library."
          command: ctest --test-dir build_ci-linux --output-on-failure

      # we are temporarily disabling OpenMP tests in the newchem-cpp branch
      # since OpenMP-support is currently "broken" (it is fixed in the C++ port)
      #- run:
      #    name: "Build libgrackle with OpenMP enabled"
      #    command: |
      #      cmake --preset ci-linux-omp
      #      cmake --build build_ci-linux-omp
      #- run:
      #    name: "run the OpenMP example"
      #    command: ./cxx_omp_example
      #    working_directory: build_ci-linux-omp/examples
      #    environment:
      #      OMP_NUM_THREADS: 4


      # the following step currently uses the llvm hosted repositories
      # (described at https://apt.llvm.org/)
      # -> if the day ever comes where we need to install using a different
      #    mechanism, we could always install it from the package on PyPI
      # -> we could also leverage the current installation approach to make
      #    test-builds with llvm
      - run:
          name: "Install clang-tidy"
          command: |
            # at the moment, we are trying to keep this synchronized with the
            # version of clang-format used in pre-commit
            LLVM_VERSION=20

            # todo: maybe move this logic into a script

            # in general we could replace a lot of the following with with the
            # script downloaded via `wget https://apt.llvm.org/llvm.sh`
            # -> it seems like the script may do a lot of extra unnecessary work

            # Step 1: register LLVM's official apt registry
            # =============================================

            # Step 1a: add the llvm key for authenticating packages
            GPG_DST=/etc/apt/trusted.gpg.d/apt.llvm.org.asc
            GPG_SRC_URL="https://apt.llvm.org/llvm-snapshot.gpg.key"
            wget -qO- "${GPG_SRC_URL}" | sudo tee "${GPG_DST}"

            # Step 1b: lookup the codename of the distribution (e.g. jammy)
            # -> Debian: only provides VERSION_CODENAME
            # -> vanilla Ubuntu: UBUNTU_CODENAME & VERSION_CODENAME are same
            # -> distinction is more important for (some) Ubuntu derivatives
            source <(grep -F 'UBUNTU_CODENAME' /etc/os-release)
            CODENAME="${UBUNTU_CODENAME}"

            # step 1c: record the actual source of the package
            # -> the formula for determining the uri and suite-name is fairly
            #    consistent unless you are describing Debian Testing or the
            #    LLVM version under active development
            uri="http://apt.llvm.org/${CODENAME}/"
            suite="llvm-toolchain-${CODENAME}-${LLVM_VERSION}"
            sudo add-apt-repository \
                --yes \
                --sourceslist "deb ${uri} ${suite} main"

            # Step 2: actually download clang-tidy
            # ====================================
            sudo apt-get update
            sudo apt-get install -y clang-tidy-${LLVM_VERSION}

            # Step 3: Santity Check and make a symlink
            # ========================================
            # The symlink is VERY hacky, but it lets us avoid carrying the
            # LLVM_VERSION variable between job steps
            bin_path="/usr/bin/clang-tidy-${LLVM_VERSION}"
            if [ ! -f ${bin_path} ]; then
              echo "Our assumptions about where the file is installed is wrong"
              exit 1
            elif [ -f /usr/bin/clang-tidy ]; then
              echo "another version of clang-tidy seems to be installed"
              exit 1
            else
              # this is pretty hacky!
              sudo ln -s ${bin_path} /usr/bin/clang-tidy
            fi

      - run:
          name: "Run clang-tidy"
          command: |
            # ci-linux-nowarn preset is designed to work with static analysis
            # (it disables compiler warnings)
            cmake \
              --preset ci-linux-nowarn \
              -D 'GRACKLE_DEV_CLANG_TIDY=clang-tidy;-warnings-as-errors=*'
            cmake --build build_ci-linux-nowarn


  docs-build:
    parameters:
      tag:
        type: string
        default: latest
    executor:
      name: python
      tag: << parameters.tag >>
      resource_class: small  # <- 1 core

    working_directory: ~/grackle

    steps:
      - checkout
      - install-docs-dependencies
      - build-docs

workflows:
   version: 2

   tests:
     jobs:
       - test-suite:
           name: "Pygrackle test suite - Python 3.10"
           tag: "3.10.3"

       - corelib-tests:
           name: "Core library test suite"

       - docs-build:
           name: "Docs build"
           tag: "3.10.3"

   weekly:
     triggers:
       - schedule:
           cron: "0 0 * * 1"
           filters:
            branches:
              only:
                - main
     jobs:
       - test-suite:
           name: "Pygrackle test suite - Python 3.10"
           tag: "3.10.3"

       - corelib-tests:
           name: "Core library test suite"

       - docs-build:
           name: "Docs build"
           tag: "3.10.3"
