name: Bench

on:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │  ┌───────────── hour (0 - 23)
    #        │  │ ┌───────────── day of the month (1 - 31)
    #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │  │ │ │ │
    - cron: "17 0 * * MON"
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  run_bench:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # fetch the full git history to let us run all our tests
          fetch-depth: 0
          # fetch the submodules to let us run the tests
          submodules: true

      - name: Download dependencies
        run: |
          sudo apt update
          sudo apt install -y \
              libhdf5-serial-dev gfortran ninja-build cmake libpfm4-dev

      - name: Configure and Build
        run: |
          cmake --preset ci-linux \
            -DGRACKLE_BUILD_BENCHMARKS=ON \
            -DBENCHMARK_ENABLE_LIBPFM=ON \
            -DGRACKLE_BUILD_TESTS=OFF
          cmake --build build_ci-linux

      - name: Run the benchmark
        run: |
          echo "Benchmark Summary:" >> bench_summary.md
          echo "```" >> bench_summary.md
          # run the benchmark and append output to the file
          ./build_ci-linux/bench/grackle-benchmarks \
              --benchmark_perf_counters=CYCLES,INSTRUCTIONS \
              --benchmark_counters_tabular=true \
              >> bench_summary.md 2>&1
          echo "```" >> bench_summary.md

      - name: Find Comment
        uses: peter-evans/find-comment@v4
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Build output
  
      - name: Create or update comment
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body-path: 'bench_summary.md'
          edit-mode: replace

