# This is part 2 of a 2-part workflow-sequence:
# - see bench.yml for more details
# - heavily inspired by:
#     https://securitylab.github.com/resources/github-actions-preventing-pwn-requests/

name: Comment on the pull request

# read-write repo token
# access to secrets
on:
  workflow_run:
    workflows: ["Run Bench"]
    types:
      - completed

jobs:
  upload:
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'
    steps:

      # can we replace this with actions/download-artifact@v5
      - name: 'Download artifact'
        uses: actions/github-script@v3.1.0
        with:
          script: |
            var artifacts = await github.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: ${{github.event.workflow_run.id }},
            });
            var matchArtifact = artifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "bench-aritfact"
            })[0];
            var download = await github.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            var fs = require('fs');
            fs.writeFileSync('${{github.workspace}}/bench-artifact.zip',
                             Buffer.from(download.data));

      - run: unzip bench-artifact.zip

      - name: Set pr_number variable
        id: vars
        run: |
          echo "pr_number=$(cat ./bench-artifact/pr-number)" >> $GITHUB_OUTPUT

      - name: Find Comment
        uses: peter-evans/find-comment@v4
        id: find-comment
        with:
          issue-number: ${{ steps.vars.pr_number }}
          comment-author: 'github-actions[bot]'
          body-includes: Benchmark Summary:
  
      - name: Create or update comment
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body-path: './bench-artifact/comment-contents.md'
          edit-mode: replace

